{% extends "::layout/layout.html.twig" %}

{% block body %}
    <div class="">       
        {{ form_start(form, {'attr': {'class': 'form-horizinal'}}) }}
        <div>
            {{ include('mesformulaire/attribut_entite.html.twig') }}<br>
            
        </div>
            <P style="text-align: center">
                <button class="btn btn-primary boutonCateEn">Valider</button>
                <span>&nbsp;</span>
                <span class="fa fa-reply"> <a style="text-decoration: none; color: blue;" href="{{path('utilisateur_produits') }}">Annuler et Retour</a></span>
            </P>
        {{ form_end(form) }}
    
    </div>
{% endblock %}