{% extends "::layout/layout.html.twig" %}

{% block body %}

    <div class="container" style="margin-top:30px;">
        <div class="row">
            <div class="col-md-offset-3 col-md-4">
                <ul id="tree1">
                    <li><a href="#">CIS</a>

                        <ul>
                            {% for categorieEntite in categorieEntites %}
                                <li> {{ categorieEntite.nomEntite }}
                                    <ul>
                                        {% if sousCategorieEntites %}
                                            {% for sousCategorieEntite in sousCategorieEntites %}
                                                {% if sousCategorieEntite.sousCategorieEntite.id == categorieEntite.id %}
                                                    <li>{{ sousCategorieEntite.nomEntite }}
                                                        <ul>
                                                            {% if marchandises %}
                                                                {% for marchandise in marchandises %}
                                                                    {% if marchandise.sousCategorieEntite.id == sousCategorieEntite.id %}
                                                                        <li>{{ marchandise.libelle }} </li>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}    
                                                        </ul>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endfor %} 
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
{% endblock %}
