{% extends "::layout/layout.html.twig" %}

{% block body %}
    <div class="row">
       <div class="col-md-6">
        <h2>Classification des produits par categories</h2>
        <div id="tree-produit"></div>
       </div>
    </div>
{% endblock %}