{% extends "::layout/layout.html.twig" %}

{% block body %}
     <div class="row">
        <p>
            <a style="text-decoration: none;" href="{{  path('operateur_index') }}"><span class="fa fa-arrow-circle-left"></span> Les Operateurs</a>
            | Ajouter un Opérateurs
        </p>
    </div>
    <div class="col-md-offset-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Ajout d'un opérateur</h3>
            </div>
            <div class="panel-body">
                {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Enregistrer" class="btn btn-primary btn-group-justified" />
            {{ form_end(form) }}
            <br>
  
            <a style="text-decoration: none; color: #003eff" href='javascript:self.history.back();'><span class="fa fa-arrow-circle-left"></span> Retour</a>   
            </div>
         
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
{% endblock %}




