#imgBarriere{
    padding-top: 34px;
}

.boutonV{
    width: 500px;
}

.boutonCateEn{
    width: 300px;
}

.piedPage{
    padding-bottom: 600px;
    background-color: #003eff;
    margin-top: 200px;
}

a{
    text-decoration: none;
}

.titrePage{
    text-align: center;
}